* {
  text-align: center;
  font-family: monospace;
  font-size: 105%;
}

body {
  font-family: sans-serif;
  background-image: url('/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.nav {
  margin-top: 1%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

form div {
  margin: 1em;
  display: inline-block;
}

#header {
  background-color: lightpink;
  opacity: 80%;
}

#products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(5%, auto);
}

#productImage {
  height: 488px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutForm {
  background-color: tan;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* flex-direction: row; */
}

.p35 {
  flex: 35%;
}

/* .p50 {
  flex: 50%;
} */

.p65 {
  flex: 65%;
}

.container {
  background-color: tan;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

span.price {
  float: right;
  color: grey;
}

span.total {
  float: right;
  color: black;
}

.btn {
  width: 100%;
  cursor: pointer;
}

/* .btn:hover {
  background-color: #3bb1e7;
} */

img:hover {
  transform: scale(1.05);
}

.shopping-cart {
  width: 750px;
  /* height: 423px; */
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 100px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e8ee;
}
.buttons {
  color: #5e6977;
}
.remove-button {
  position: relative;
  border: none;
  border: 0;
  color: #5e6977;
  margin-right: 60px;
}
.image {
  margin-right: 50px;
  padding-top: 10px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 16px;
  color: #43484d;
  font-weight: 400;
}

.total-price {
  width: 80px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  align-items: center;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.image,
.quantity,
.description {
  width: 100%;
  text-align: center;
  margin: 6px 0;
}
.image {
  margin-right: 90px;
}
.image img {
  width: 80%;
}
.cart-total {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-total-2 {
  height: 60px;

  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}
/* single page css */
img {
  max-width: 100%;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #eee;
  padding: 5em;
  line-height: 1.5;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
  color: brown;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
}
.add-to-cart:hover,
.like:hover {
  background: burlywood;
  color: #fff;
}

.orange {
  background: burlywood;
}
.user-profile {
  width: 750px;
  height: 540px;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  /* font-family: 'Roboto', sans-serif; */

  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  flex-direction: column;
}
.user-profile-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 200px;
  padding-bottom: 25px;
  flex-direction: row;
  color: #5e6977;
  max-width: 650px;
}
.user-profile-input {
  width: 70%;
}
#user-profile-update-btn {
  padding-top: 30px;
}
.test {
  max-width: 200px;
}
/* confirmation page CSS */
