body {
  font-family: sans-serif;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkoutForm {
  background-color: tan;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* flex-direction: row; */
}

.p35 {
  flex: 35%;
}

/* .p50 {
  flex: 50%;
} */

.p65 {
  flex: 65%;
}

.container {
  background-color: tan;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

span.price {
  float: right;
  color: grey;
}

span.total {
  float: right;
  color: black;
}

.btn {
  width: 100%;
  cursor: pointer;
}

/* .btn:hover {
  background-color: #3bb1e7;
} */

img:hover {
  transform: scale(1.05);
}

.shopping-cart {
  width: 750px;
  /* height: 423px; */
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 100px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e8ee;
}
.buttons {
  color: #5e6977;
}
.remove-button {
  position: relative;
  border: none;
  border: 0;
  color: #5e6977;
  margin-right: 60px;
}
.image {
  margin-right: 50px;
  padding-top: 10px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 16px;
  color: #43484d;
  font-weight: 400;
}

.total-price {
  width: 80px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  align-items: center;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.image,
.quantity,
.description {
  width: 100%;
  text-align: center;
  margin: 6px 0;
}
.image {
  margin-right: 90px;
}
.image img {
  width: 80%;
}
.cart-total {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-total-2 {
  height: 60px;

  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}
/* single page css */
img {
  max-width: 100%;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #eee;
  padding: 5em;
  line-height: 1.5;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
  color: brown;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
}
.add-to-cart:hover,
.like:hover {
  background: burlywood;
  color: #fff;
}

.orange {
  background: burlywood;
}

/* confirmation page CSS */
